
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
body {
    background-image: url('../assets/24211dbf-ee31-4581-a73d-08f81ef94998.png'); /* Ensure the correct relative path */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin: 0;
    padding: 0;
  }
  
  .card {
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(93, 155, 107, 0.8);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    max-height: 210px;
    border-radius: 8px;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .card p {
    margin: 0.5em 0;
  }
  
  .card-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: white;
    opacity: .5;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .card-link:hover {
    background-color: #0056b3;
  }